html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainApp {
  height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.mainApp > div {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.board {
  width: 20rem;
  max-width: 20rem;
  aspect-ratio: 1 / 1;
}

.wordleGrid {
  width: 100%;
}

.wordleRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wordleBox {
  display: block;
  background-color: #121212;
  color: #fff;
  width: 18%;
  aspect-ratio: 1 / 1;
  border: none;
  margin: 2px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
}

.emptyButton {
  display: block;
  background-color: #121212;
  color: #fff;
  width: 18%;
  aspect-ratio: 1 / 1;
  border: 1px solid #fff;
  margin: 2px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
}

.removeButton {
  background-image: url(../public/trash.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  outline: none;
  border: none;
  margin-left: 5%;
  display: block;
  width: 10%;
  aspect-ratio: 1 / 1;
}

.emptyRemoveButton {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  outline: none;
  border: none;
  margin-left: 5%;
  display: block;
  width: 10%;
  aspect-ratio: 1 / 1;
}

.buttons {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.keyboard {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.75rem;
  padding-top: 0.25rem;
}

.keyRowFirst {
  display: flex;
  width: 100%;
  gap: 0.5rem;
}

.keyRowSecond {
  display: flex;
  width: 90%;
  gap: 0.5rem;
}

.keyRowThird {
  display: flex;
  width: 85%;
  gap: 0.5rem;
}

.key {
  background-color: #787c7f;
  color: #fff;
  display: flex;
  height: 3.5rem;
  width: 100%;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
}

.backspace {
  background-color: #787c7f;
  color: #fff;
  display: flex;
  height: 3.5rem;
  width: 100%;
  flex: 1.2 1;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
}